<div>
    <% if(locals.name) { %> 
    <h1>Hi, <%= locals.name %> </h1>
    <% } %> 
    
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>

    <% if(locals.name) { %> 
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <% } %> 

    <div class="weather banner">
        <h1 class="city-name">Chicago</h1>

        <p class="date-updated">5:18pm CST, 10/24/2021</h3>

        <div class="temperature box">
            <h2 class="reading">
                88deg
            </h2>
        </div>
        <div class="high-low box">
            <p>hi: 90deg</p>
            <p>lo: 70deg</p>
        </div>
        <div class="extra-readings box">
            <p class="precip">precip: -</p>
            <p class="humidity">humid: -</p>
            <p class="wind">wind: -</p>
        </div>
    </div>
</div>