<div id="mainContainer">
    <% if(locals.name) { %> 
        <div id="greeting">Hi, <%= locals.name %> </div>
    <% } %> 
    <div id="searchContainer">
        <input class="searchControl" type="text" placeholder="City Name or Zipcode" id="searchInput">
        <button class="searchControl" id="searchBtn">Search</button>
    </div>

    <div id="accountContainer">
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        <% if(locals.name) { %> 
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" id="logoutBtn">Log Out</button>
            </form>
            <a href="/profile">profile</a>
        <% } %> 
    </div>

    <div id="weatherContainer">
        <div id="weatherDescription">
            <h1 id="cityHeader"></h1>
            <div id="weatherMain">
                <div id="temperature"></div>
                <div id="weatherDescriptionHeader"></div>
                <div><img id="documentIconImg"></div>
            </div>
            <hr>
            <div id="windSpeed" class="bottom-details"></div>
            <div id="humidity" class="bottom-details"></div>
        </div>
    </div>
    
    <canvas id="myChart" width="400" height="400"></canvas>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');

        let weatherString = "<%= locals.weatherData %>";

        let weatherData;
        if (weatherString.length === 0) {
            weatherData = new Array();
        } else {
            weatherData = weatherString.replace(/, +/g, ",").split(",").map(Number);
        }

        const labels = [1,2,3,4,5,6,7];
        const data = {
        labels: labels,
            datasets: [{
                // label: 'My First Dataset',
                data: weatherData,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1,
            }]
        };
        const config = {
            type: 'line',
            data: data,
            options: {
                    maintainAspectRatio: false,
                    legend: {display: false},
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    }
                }
        };
        const myChart = new Chart(ctx, config);
    </script>
</div>