<div class="form background">
  <div class="form container">
    <h1>Profile</h1>

    <% if(user) {%>
    <p>name: <%= user.name %></p>
    <p>email: <%= user.email %></p>
    <p>city: <%= user.address %></p>
    <% } %>

    <div id="updateNameContainer">
      <form action="/profile/changeName" method="POST">
        <div>
          <label for="newName">Name</label>
          <input type="name" name="newName" id="newName" required />
        </div>
        <button type="submit" id="changeNameBtn">Change</button>
      </form>
    </div>

    <div id="updateCityContainer">
      <form action="/profile/changeCity" method="POST">
        <div>
          <label for="newCity">City</label>
          <input type="name" name="newCity" id="newCity" required />
        </div>
        <button type="submit" id="changeCityBtn">Change</button>
      </form>
    </div>

    <div id="deleteBtnContainer">
      <form action="/profile?_method=DELETE" method="POST">
        <button type="submit" id="deleteBtn">delete account</button>
      </form>
    </div>

    <a href="/">home</a>
  </div>
</div>
