.form.container {
    margin:auto;
    width: 320px;
    height: 420px;
    background: rgba(86, 86, 86, 0.6);
    color:rgb(241, 241, 241);

    padding: 30px;

    /* position: absolute; */
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

a,button {
    float: right;
    clear: both;
}

#updateCityContainer{
    margin-top: 30px;
}

#updateNameContainer{
    margin-top: 20px;
}

#deleteBtnContainer {
    display: grid;
    margin-top: 40px;
    align-items: center;
}

#deleteBtn {
    background-color: red;
}