.login.background {
    min-height: 700px;
    width: 100%;
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center;

    background: url(blue-sky.jpg);
    background-size: cover;
    background-position: center;
}

.login.container {
    width: 320px;
    height: 420px;
    background: rgba(86, 86, 86, 0.6);
    color:rgb(39, 39, 39);

    padding: 30px;

    position: absolute;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

a,button {
    float: right;
    clear: both;
}